<!-- Main Header -->
<header class="main-header dark-bg"> 
    
    <!-- Logo --> 
    <a href="index.html" class="logo dark-bg"> 
    <!-- mini logo for sidebar mini 50x50 pixels --> 
    <span class="logo-mini"><img src="assets/imagen/pngwing.png" style="width: 30px; height: 30px;" alt="Mantenimiento"></span> 
    <!-- logo for regular state and mobile devices --> 
    <span class="logo-lg"><img src="assets/imagen/pngwing.png" style="width: 50px; height: 50px;" alt="Mantenimiento">Mantenimiento</span> </a> 
    
    <!-- Header Navbar -->
    <app-navbar></app-navbar>

</header>
