
<section class="body-bg-color">
    <div class="wrapper">
      <div class="form-body">
        <form action="" class="col-form" novalidate>
        <div class="col-logo">
            <a href="#">
                <img alt="" src="../../../assets/imagen/pngwing.png" width="50px" height="50px">
            </a>
        </div>
          <header>Login</header>
          <fieldset>
            <section>
              <div class="form-group has-feedback">
                <label class="control-label">E-mail</label>
                <input class="form-control" placeholder="E-mail" type="text">
                <span class="fa fa-envelope form-control-feedback" aria-hidden="true"></span> </div>
            </section>
            <section>
              <div class="form-group has-feedback">
                <label class="control-label">Password</label>
                <input class="form-control" placeholder="Password" type="password">
                <span class="fa fa-lock form-control-feedback" aria-hidden="true"></span> </div>
            </section>
            <section>
              <div class="row">
                <div class="col-md-6 checkbox"> <a href="forgot-password.html" class="modal-opener">Forgot password?</a> </div>
                <div class="col-md-6 text-right">
                  <label class="checkbox">
                    <input name="remember" checked="" type="checkbox">
                    <i></i>Keep me logged in</label>
                </div>
              </div>
            </section>
          </fieldset>
          <footer class="text-right">
            <button type="button" class="btn btn-info pull-right">Login</button>
            <a routerLink="/register" class="button button-secondary">Register</a> </footer>
        </form>
      </div>
    </div>
    <!-- wrapper --> 
</section>